/* Admin.module.css */

.mainBox {
    display: flex;
    align-items: center;
    justify-content: center;
  
  }
  
  .box {
    width: 85vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
  }
  
  .adminBox {
    width: 100%;
  
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 8px;
    background-color: gray;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .requestBox {
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    background-color: #286665;
    display: flex;
    flex-direction: row;
    height: fit-content;
  }
  
  .req {
    width: 100%;
    display: flex;
    flex-flow: column;
    margin: 10px;
  }
  
  .requestList {
    width: 100%;
    height: 40%;
    padding: 20px;
    margin: 10px;
    background-color: #ddddf7;
    border: radius 2px;
    padding: 20px;
    flex-wrap: wrap;
  }
  
  .buttons {
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px;
  }
  
  .addButton {
    padding: 12px;
    background-color: rgb(56, 176, 56);
    font-size: 16px;
    color: white;
    border-style: none;
    border-radius: 5px;
  }
  
  .addButton:hover {
    cursor: pointer;
    background-color: darkgreen;
  }
  
  .deleteButton {
    padding: 12px;
    background-color: rgb(79, 201, 242);
    font-size: 16px;
    color: white;
    border-style: none;
    border-radius: 5px;
  }
  
  .deleteButton:hover {
    cursor: pointer;
    background-color: rgb(82, 82, 164);
  }
  .modalOverlay {
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .modalContent {
 /* From https://css.glass */
    background-color: #ddddf7;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 5px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    gap: 1rem;
  }
  .close_button{
    align-self: flex-end;
    color: red;
    font-weight: 800;
  }
  .dashboard_heading{
    align-self: center;
    color:hsl(200deg 61.32% 91.04%);
    font-size: 25px;
    font-weight: 500;
    width:100%;
    text-align: center;
    background-color: none;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    background: rgba(64, 104, 130, 0.5647058823529412);
    padding:0.5rem 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.5px);
    border: 1px solid rgba(64, 104, 130, 0.3);
  }
  .ticket_status {
    overflow-y: auto; /* Enable vertical scrolling */
    height: 30rem; /* Set the height of the scrollable area */
    max-height: 30rem; /* Limit the maximum height of the scrollable area */
  }
  
  .ticket_status  {
     /* Set the height of each component */
    border: 1px solid #ccc;
    margin-bottom: 5px; /* Add spacing between components */
    padding: 5px 10px; /* Add padding to each component */
  }
  
  .ticket_status{
    width: 100%;
    padding: 2rem;
    margin: 2rem 0;
  display: flex;
  flex-direction: column;
    background: rgba(105, 152, 171, 0.3764705882352941);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(0px);
-webkit-backdrop-filter: blur(0px);
  }
  .ticketList {
    list-style: none;
    padding: 0;
  }
  .my_tickets{
    font-size: 25px;
    color:hsl(200deg 61.32% 91.04%);
    font-weight: 500;
    
  }
  .ticketListItem {
    margin-bottom: 10px;
   /* From https://css.glass */
background: rgba(0, 0, 4, 0.36);
display: flex;
flex-direction: column;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(0, 0, 4, 0.3);
  }
  
  .createTicketForm {
    margin-top: 20px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }
  .pending{
  align-self: flex-end;
  padding-right: 1rem;
color: white;
  }
  .accept{
    background-color:green;
  }
  .reject{
    background-color: red;
  }
  .loading{
    background-color: yellow;
  }
  .remove{
    display: none;
  }