body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.card {
    height:320px;
    width: 350px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border:1.5px solid black; 
}

h2 {
    font-size:25px;
    text-align: center;
    color: #333;
    margin-bottom:25px;
    padding:15px;
}

.inputGroup {
    margin-bottom: 15px;
    
}

.inputField {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size:17px;
    border-radius: 0.7rem;

}

.buttonGroup {
    display: flex;
    justify-content: space-between;
}

.loginButton {
    font-size:16px;
    margin-top:20px;
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.teacher {
    background-color: #4caf50;
    color: #fff;
}

.admin {
    background-color: #2196f3;
    color: #fff;
}

.errorMessage {
    color: #d9534f;
    text-align: center;
}
body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

.glass {
    padding: 3rem;
    width: 23rem;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

body {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

.p-button.p-component {
    padding: 1rem;
}

.p-button.p-component:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 3px solid var(--primary-color);
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    --sb-track-color: #232e33;
    --sb-thumb-color: #2c96bd;
    --sb-size: 7px;

    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}



/* CSS */
.button-1login {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: #F082AC;
}


.lnmiitems{
    color: white;
}

.logo {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

/* Optional: Add animation to the logo */
.logo:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}