body {
  
  background: url("../../../public/back.jpg");
}

body .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  min-height: 20rem;
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding-bottom: 1rem;
  background: rgba(177, 208, 224, 0.13);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.4px);
  -webkit-backdrop-filter: blur(5.4px);
  border: 1px solid rgba(177, 208, 224, 0.3);
}
.dashboard_heading {
  align-self: center;
  color: hsl(200deg 61.32% 91.04%);
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  background-color: none;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  background:#A7D397;
  padding: 0.5rem 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border: 1px solid rgba(64, 104, 130, 0.3);
}
.ticket_status {
  height: 17rem;
  padding: 2rem;
  margin: 2rem 0;
  height: fit-content;
  background: #D0D4CA;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
}
.ticketList {
  list-style: none;
  padding: 0;
}
.my_tickets {
  font-size: 25px;
  color: hsl(200deg 61.32% 91.04%);
  font-weight: 500;
}
.ticketListItem {
  margin-bottom: 10px;
  background: (2 2 2 / 0%);
  border-radius:3px ;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 4, 0.3);
}

.createTicketForm {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.new_button {
  align-self: flex-end;
  margin-right: 2rem;
  
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(0, 0, 4, 0.3);
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  color: white;
  background: rgba(105, 152, 171, 0.3764705882352941);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(0px);
  -webkit-backdrop-filter: blur(0px);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  text-align: center;
}
.graph_overlay {
  background: white;
  max-width: 700px;
}
.close_button {
  align-self: flex-end;
  color: red;
  font-weight: 800;
}
.teacher_buttons {
  display: flex;
  gap: 2rem;
}
