body .video {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

body .video video {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 5rem;
  padding-bottom: 1rem;
  background: rgba(173, 216, 230, 0.9);
  /* Light Blue */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  animation: fadeIn 1s ease-in-out;
}

.dashboard_heading {
  align-self: center;
  color: #ff66b2;
  /* Pink */
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  text-align: center;
  background: rgba(173, 216, 230, 0.8);
  /* Light Blue */
  padding: 0.5rem 0;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.ticket_status {
  height: 17rem;
  padding: 2rem;
  margin: 2rem 0;
  background: rgba(255, 182, 193, 0.8);
  /* Light Pink */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.ticketList {
  list-style: none;
  padding: 0;
}

.my_tickets {
  font-size: 25px;
  color: #ff66b2;
  /* Pink */
  font-weight: 500;
}

.ticketListItem {
  margin-bottom: 10px;
  background: rgba(173, 216, 230, 0.8);
  /* Light Blue */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(173, 216, 230, 0.6);
  /* Light Blue */
  animation: scaleIn 0.5s ease-in-out;
}

.createTicketForm {
  margin-top: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.button {
  align-self: center;
  padding: 10px 20px;
  background-color: #ff66b2;
  /* Pink */
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.new_button {
  align-self: flex-end;
  margin-right: 2rem;
  background: rgba(173, 216, 230, 0.8);
  /* Light Blue */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(173, 216, 230, 0.6);
  /* Light Blue */
  animation: slideInRight 1s ease-in-out;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modalContent {
  background: rgba(255, 182, 193, 0.8);
  /* Light Pink */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadeInUp 0.5s ease-in-out;
}

.close_button {
  align-self: flex-end;
  color: red;
  font-weight: 800;
}

body {
  margin: 0;
  overflow: hidden;
  animation: gradientAnimation 10s infinite linear;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}